<div class="cantidad-hechos">
  <p>Cantidad de hechos nuevos cargados: <strong>{{cantidad}}</strong></p>
</div>

<div class="container-tarjetas">
{{#each hechos}}
    <div class="tarjeta-hecho">

    <div class="hecho-data">
        <h2 class="hecho-titulo">{{titulo.toUpperCase}}</h2>
        <span class="hecho-categoria">{{categoria}}</span>
    </div>

    <div class="hecho-data">
        <p class="hecho-descripcion">{{descripcion}}</p>
    </div>

      <div class="hecho-data">
        <span class="hecho-provincia"> Provincia:</span>
        <span> {{provincia}}</span>
      </div>

      <div class="hecho-data">
        <span class="hecho-fecha"> Fecha del Hecho:</span>
        <span> {{fechaHecho.getDayOfMonth}}/{{fechaHecho.getMonthValue}}/{{fechaHecho.getYear}} {{fechaHecho.getHour}}:{{fechaHecho.getMinute}}:{{fechaHecho.getSecond}} </span>
      </div>

      <div class="hecho-data">
        <span class="hecho-carga"> Fecha de Carga:</span>
        <span> {{fechaCarga.getDayOfMonth}}/{{fechaCarga.getMonthValue}}/{{fechaCarga.getYear}} {{fechaCarga.getHour}}:{{fechaCarga.getMinute}}:{{fechaCarga.getSecond}}</span>
      </div>

    </div>
{{/each}}
</div>
