{{#if solicitudes.length}}
    {{#each solicitudes}}
        <div class="tarjeta-solicitud">

            <div class="solicitud-data">
                <span class="solicitud-id"> Hecho ID:</span>
                <span>{{id}}</span>
            </div>

            <div class="solicitud-data">
                <span class="solicitud-fecha"> Fecha solicitud de eliminacion:</span>
                <span> {{fechaSolicitud.getDayOfMonth}}/{{fechaSolicitud.getMonthValue}}/{{fechaSolicitud.getYear}} {{fechaSolicitud.getHour}}:{{fechaSolicitud.getMinute}}:{{fechaSolicitud.getSecond}} </span>
            </div>

            <div class="solicitud-data">
                <span class="solicitud-motivo"> Motivo:</span>
                <span class="solicitud-motivo-texto">{{motivo}}</span>
            </div>

            <div class="solicitud-data">
                <span class="solicitud-estado"> Estado:</span>
                <span>{{estado}}</span>
            </div>

            <div class="formularios">
            {{#if ../pendiente}}
                    <form class="form-sol-eliminacion"
                          hx-post="/admin/solicitudes/{{id}}"
                          hx-target="#resultados-solicitudes">
                      <div class="solicitud-data">
                          <input type="hidden" name="eleccion" value="APROBADA">
                          <button class="btn aceptar-solicitud" type="submit"> Aceptar Solicitud </button>
                      </div>
                    </form>

                    <form class="form-sol-eliminacion"
                          hx-post="/admin/solicitudes/{{id}}"
                          hx-target="#resultados-solicitudes"
                           hx-push-url="true"
                           hx-trigger="submit">
                      <div class="solicitud-data">
                          <input type="hidden" name="eleccion" value="RECHAZADA">
                          <button class="btn rechazar-solicitud" type="submit"> Rechazar Solicitud </button>
                      </div>
                    </form>
            {{/if}}

                <div class="solicitud-data">
                    <a class="btn detalle-hecho" href="/hechos/{{hecho.id}}"> Ver Hecho </a>
                </div>
            </div>
        </div>
        {{/each}}
    {{else}}
        <p>No hay solicitudes para el filtro seleccionado.</p>
{{/if}}